.tab.dataset{ overflow-x:auto !important;
    & > .scroller{max-width:none; padding:0 20px;}
    .spreadsheet{
        td{max-width:350px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
        .record-menu{float:right; width:36px; height:33px; margin-bottom:-24px; position:relative; top:-12px; padding-top:9px; padding-left:10px; box-sizing:border-box; cursor:pointer;}
        .td-menu{overflow:visible; text-overflow:unset;}
        .drop-menu{top:33px; right:0;}
    }
}
.tab-toolbar .search-dataset{width:100%; max-width:150px;}